---
http_interactions:
- request:
    method: get
    uri: https://panel.sendcloud.sc/api/v2/parcels?cursor=cD0zMDI2NjcxNjI=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, POST, PUT, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"next":"https://panel.sendcloud.sc/api/v2/parcels?cursor=cD0zMDIxODE1NTc%3D","previous":"https://panel.sendcloud.sc/api/v2/parcels?cursor=cj0xJnA9MzAyNjY2ODYy","parcels":[{"id":302666862,"reference":"0","status":{"id":2000,"message":"Cancelled"},"tracking_number":"05162052193271","weight":"1.000","order_number":"23088949","total_insured_value":520,"parcel_items":[],"documents":[{"type":"label","size":"a6","link":"https://panel.sendcloud.sc/api/v2/parcels/302666862/documents/label"}],"external_reference":null,"is_return":false,"note":"","total_order_value":null,"total_order_value_currency":null,"length":null,"width":null,"height":null,"contract":21192,"address_divided":{"street":"Sweder
        van Boesichemstraat","house_number":"4"},"shipment":{"id":68,"name":"DPD Home
        0-31.5kg"},"shipping_method":68,"shipping_method_checkout_name":null,"insured_value":0,"shipment_uuid":null,"data":{},"type":"parcel","external_order_id":"302666862","external_shipment_id":"","colli_uuid":"6cc41b93-e307-4087-a451-42577eb53ad1","collo_nr":0,"collo_count":1,"label":{"normal_printer":["https://panel.sendcloud.sc/api/v2/labels/normal_printer/302666862?start_from=0","https://panel.sendcloud.sc/api/v2/labels/normal_printer/302666862?start_from=1","https://panel.sendcloud.sc/api/v2/labels/normal_printer/302666862?start_from=2","https://panel.sendcloud.sc/api/v2/labels/normal_printer/302666862?start_from=3"],"label_printer":"https://panel.sendcloud.sc/api/v2/labels/label_printer/302666862"},"customs_declaration":{},"to_state":null,"date_created":"08-09-2023
        11:50:19","date_announced":"08-09-2023 11:50:20","date_updated":"08-09-2023
        11:51:01","awb_tracking_number":null,"box_number":null,"customs_invoice_nr":"","customs_shipment_type":null,"address":"Sweder
        van Boesichemstraat 4","address_2":"","city":"Vianen","company_name":"","country":{"iso_2":"NL","iso_3":"NLD","name":"Netherlands"},"email":"alina123@bloomandwild.com","name":"Gfh
        Gh","postal_code":"4132 CN","telephone":"","to_post_number":"","to_service_point":null,"carrier":{"code":"dpd"},"tracking_url":"https://bloomon-test.shipping-portal.com/tracking/?country=nl&tracking_number=05162052193271&postal_code=4132cn"},{"id":302666530,"reference":"0","status":{"id":2000,"message":"Cancelled"},"tracking_number":"05162052193270","weight":"1.000","order_number":"23088949","total_insured_value":520,"parcel_items":[],"documents":[{"type":"label","size":"a6","link":"https://panel.sendcloud.sc/api/v2/parcels/302666530/documents/label"}],"external_reference":null,"is_return":false,"note":"","total_order_v[...]
