---
http_interactions:
- request:
    method: get
    uri: https://panel.sendcloud.sc/api/v2/parcels?updated_after=2021-09-10T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, POST, PUT, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"next":"https://panel.sendcloud.sc/api/v2/parcels?cursor=cD0zMDI2NjcxNjI%3D&updated_after=2021-09-10T00%3A00%3A00%2B00%3A00","previous":null,"parcels":[{"id":343683472,"reference":"0","status":{"id":1002,"message":"Announcement
        failed"},"tracking_number":"","weight":"1.000","order_number":"1234567890","total_insured_value":0,"parcel_items":[],"documents":[],"external_reference":null,"is_return":false,"note":"","total_order_value":null,"total_order_value_currency":null,"length":null,"width":null,"height":null,"contract":12014,"address_divided":{"street":"Insulindelaan","house_number":"115"},"shipment":{"id":98,"name":"PostNL
        evening delivery + home address only 0-23kg"},"shipping_method":98,"shipping_method_checkout_name":null,"insured_value":0,"shipment_uuid":"a9b7f806-6dc7-4c95-b19f-05dfa649734a","data":{},"type":null,"external_order_id":"343683472","external_shipment_id":"","quantity":1,"colli_uuid":"7a1f4a6e-8bda-4923-9398-e33c4d349d0f","collo_nr":0,"collo_count":1,"label":{},"customs_declaration":{},"to_state":null,"date_created":"23-01-2024
        16:39:46","date_announced":null,"date_updated":"23-01-2024 16:39:47","awb_tracking_number":null,"box_number":null,"customs_invoice_nr":"","customs_shipment_type":null,"address":"Insulindelaan
        115","address_2":"","city":"Eindhoven","company_name":"Bloom&Wild","country":{"iso_2":"NL","iso_3":"NLD","name":"Netherlands"},"email":"hello@bloomandwild.com","name":"John
        Doe","postal_code":"3316 EE","telephone":"+31612345678","to_post_number":"","to_service_point":null,"carrier":{"code":"postnl"}},{"id":341371285,"reference":"0","status":{"id":2000,"message":"Cancelled"},"tracking_number":"05162052193292","weight":"1.000","order_number":"24746429","total_insured_value":520,"parcel_items":[],"documents":[{"type":"label","size":"a6","link":"https://panel.sendcloud.sc/api/v2/parcels/341371285/documents/label"}],"external_reference":null,"is_return":false,"note":"","total_order_value":null,"total_order_value_currency":null,"length":null,"width":null,"height":null,"contract":21192,"address_divided":{"street":"Strobelallee","house_number":"50"},"shipment":{"id":68,"name":"DPD
        Home 0-31.5kg"},"shipping_method":68,"shipping_method_checkout_name":null,"insured_value":0,"shipment_uuid":null,"data":{},"type":"parcel","external_order_id":"341371285","external_shipment_id":"","colli_uuid":"b2e03368-0666-486d-9dea-f681862c3723","collo_nr":0,"collo_count":1,"label":{"normal_printer":["https://panel.sendcloud.sc/api/v2/labels/normal_printer/341371285?start_from=0","https://panel.sendcloud.sc/api/v2/labels/normal_printer/341371285?start_from=1","https://panel.sendcloud.sc/api/v2/labels/normal_printer/341371285?start_from=2","https://panel.sendcloud.sc/api/v2/labels/normal_printer/341371285?start_from=3"],"label_printer":"https://panel.sendcloud.sc/api/v2/labels/label_printer/341371285"},"customs_declaration":{},"to_state":null,"date_created":"15-01-2024
        16:29:37","date_announced":"15-01-2024 16:29:38","date_updated":"15-01-2024
        22:45:02","awb_tracking_number":null,"box_number":null,"customs_invoice_nr":"","customs_shipment_type":null,"address":"Strobelallee
        50","address_2":"","city":"Dortmund","company_name":"","country":{"iso_2":"DE","iso_3":"DEU","name":"Germany"},"email":"delivery_24746429@sendgrid.bloomandwild.com","name":"Test
        Jon","postal_code":"44139","telephone":"","to_post_number":"","to_service_point":null,"carrier":{"code":"dpd"},"tracking_url":"https://bloomon-test.shipping-portal.com/tracking/?country=de&tracking_number=05162052193292&postal_code=44139"},{"id":341369343,"reference":"0","status":{"id":62996,"message":"Exception"},"tracking_number":"70722151440334090","weight":"1.000","order_number":"24746424","total_insured_value":0,"parcel_items":[],"documents":[{"type":"label","size":"a6","link":"https://panel.sendcloud.sc/api/v2/parcels/341369343/documents/label"}],"external_reference":null,"is_return":false,"note":"","total_order_[...]
