---
http_interactions:
- request:
    method: get
    uri: https://panel.sendcloud.sc/api/v2/labels/label_printer/1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      X-Sendcloud-Client-Latest-Version-Windows:
      - 1.0.4
      X-Sendcloud-Client-Latest-Version-Macos:
      - 1.0.5
      X-Sendcloud-Client-Latest-Version-Linux:
      - 1.0.2
    body:
      encoding: UTF-8
      string: '{"error":{"code":404,"request":"api/v2/labels/label_printer/1","message":"No
        Parcel matches the given query."}}'
  recorded_at: Thu, 19 Aug 2021 15:07:38 GMT
recorded_with: VCR 6.0.0
