---
http_interactions:
- request:
    method: get
    uri: https://panel.sendcloud.sc/api/v2/labels/label_printer/1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"error":{"code":404,"request":"api/v2/labels/label_printer/1","message":"No
        Parcel matches the given query."}}'
  recorded_at: Tue, 23 Jan 2024 10:28:00 GMT
recorded_with: VCR 6.1.0
