---
http_interactions:
- request:
    method: get
    uri: https://panel.sendcloud.sc/api/v2/parcels/statuses
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer
      Allow:
      - GET, HEAD, OPTIONS
      X-Sendcloud-Client-Latest-Version-Windows:
      - 1.0.4
      X-Sendcloud-Client-Latest-Version-Macos:
      - 1.0.5
      X-Sendcloud-Client-Latest-Version-Linux:
      - 1.0.2
    body:
      encoding: UTF-8
      string: '{"error":{"code":401,"request":"api/v2/parcels/statuses","message":"Invalid
        username/password."}}'
  recorded_at: Thu, 19 Aug 2021 10:43:56 GMT
recorded_with: VCR 6.0.0
