---
http_interactions:
- request:
    method: get
    uri: https://panel.sendcloud.sc/api/v2/parcels/statuses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Bearer
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"error":{"code":401,"request":"api/v2/parcels/statuses","message":"Invalid
        username/password."}}'
  recorded_at: Tue, 23 Jan 2024 09:49:02 GMT
recorded_with: VCR 6.1.0
