---
http_interactions:
- request:
    method: get
    uri: https://panel.sendcloud.sc/api/v2/parcels/0
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PUT, PATCH, HEAD, OPTIONS
      X-Sendcloud-Client-Latest-Version-Windows:
      - 1.0.4
      X-Sendcloud-Client-Latest-Version-Macos:
      - 1.0.5
      X-Sendcloud-Client-Latest-Version-Linux:
      - 1.0.2
    body:
      encoding: UTF-8
      string: '{"error":{"code":404,"request":"api/v2/parcels/0","message":"No Parcel
        matches the given query."}}'
  recorded_at: Mon, 23 Aug 2021 10:21:13 GMT
recorded_with: VCR 6.0.0
