---
http_interactions:
- request:
    method: get
    uri: https://panel.sendcloud.sc/api/v2/parcels/0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, PUT, PATCH, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"error":{"code":404,"request":"api/v2/parcels/0","message":"No Parcel
        matches the given query."}}'
  recorded_at: Tue, 23 Jan 2024 10:51:04 GMT
recorded_with: VCR 6.1.0
