---
http_interactions:
- request:
    method: get
    uri: https://panel.sendcloud.sc/api/v2/parcels/343492699
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, PUT, PATCH, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"parcel":{"id":343492699,"reference":"0","status":{"id":1000,"message":"Ready
        to send"},"tracking_number":"SCCWF3HMRH7Y","weight":"1.000","order_number":"1234567890","total_insured_value":0,"parcel_items":[],"documents":[{"type":"label","size":"a6","link":"https://panel.sendcloud.sc/api/v2/parcels/343492699/documents/label"}],"external_reference":null,"is_return":false,"note":"","total_order_value":null,"total_order_value_currency":null,"length":null,"width":null,"height":null,"contract":null,"address":"Insulindelaan
        115","address_2":"","city":"Eindhoven","company_name":"Bloom&Wild","country":{"iso_2":"NL","iso_3":"NLD","name":"Netherlands"},"email":"hello@bloomandwild.com","name":"John
        Doe","postal_code":"5642 CV","telephone":"+31612345678","to_post_number":"","to_service_point":null,"address_divided":{"street":"Insulindelaan","house_number":"115"},"shipment":{"id":8,"name":"Unstamped
        letter"},"shipping_method":8,"shipping_method_checkout_name":"Unstamped letter","insured_value":0,"shipment_uuid":null,"data":{},"type":"letter","external_order_id":"343492699","external_shipment_id":"","colli_uuid":"a5a8ed74-808f-487f-8c39-ae236a69a3d7","collo_nr":0,"collo_count":1,"label":{"normal_printer":["https://panel.sendcloud.sc/api/v2/labels/normal_printer/343492699?start_from=0","https://panel.sendcloud.sc/api/v2/labels/normal_printer/343492699?start_from=1","https://panel.sendcloud.sc/api/v2/labels/normal_printer/343492699?start_from=2","https://panel.sendcloud.sc/api/v2/labels/normal_printer/343492699?start_from=3"],"label_printer":"https://panel.sendcloud.sc/api/v2/labels/label_printer/343492699"},"customs_declaration":{},"to_state":null,"date_created":"23-01-2024
        09:49:03","date_announced":"23-01-2024 09:49:04","date_updated":"23-01-2024
        09:49:04","awb_tracking_number":null,"box_number":null,"customs_invoice_nr":"","customs_shipment_type":null,"carrier":{"code":"sendcloud"},"tracking_url":"https://tracking.eu-central-1-0.sendcloud.sc/forward?carrier=sendcloud&code=SCCWF3HMRH7Y&destination=NL&lang=en-us&source=NL&type=letter&verification=5642+CV&servicepoint_verification=&created_at=2024-01-23"}}'
  recorded_at: Tue, 23 Jan 2024 10:51:04 GMT
recorded_with: VCR 6.1.0
