---
http_interactions:
- request:
    method: post
    uri: https://panel.sendcloud.sc/api/v2/parcels/0/cancel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - POST, OPTIONS
    body:
      encoding: UTF-8
      string: '{"error":{"code":404,"request":"api/v2/parcels/0/cancel","message":"No
        Parcel matches the given query."}}'
  recorded_at: Tue, 23 Jan 2024 12:08:12 GMT
recorded_with: VCR 6.1.0
