---
http_interactions:
- request:
    method: post
    uri: https://panel.sendcloud.sc/api/v2/parcels?errors=verbose-carrier
    body:
      encoding: UTF-8
      string: '{"parcel":{"name":"John Doe","company_name":"Bloom&Wild","address":"Insulindelaan","house_number":"115","city":"Eindhoven","postal_code":"3316
        EE","telephone":"+31612345678","email":"hello@bloomandwild.com","data":[],"country":"NL","order_number":"1234567890","request_label":true,"shipment":{"id":98}}}'
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, POST, PUT, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"error":{"code":400,"request":"api/v2/parcels","message":"non_field_errors:
        \"Service error: Carrier response can not be parsed. Validation failed for
        shipment: 3STXWW9670924, Messages:\n 3STXWW9670924: {[1225029]\nService is
        not available for the requested postal code on this specific weekday}\n\""}}'
  recorded_at: Tue, 23 Jan 2024 09:49:05 GMT
recorded_with: VCR 6.1.0
