---
http_interactions:
- request:
    method: post
    uri: https://panel.sendcloud.sc/api/v2/parcels?errors=verbose-carrier
    body:
      encoding: UTF-8
      string: '{"parcel":{"name":"John Doe","company_name":"Bloom&Wild","address":"Insulindelaan","house_number":"115","city":"Eindhoven","postal_code":"5642CV","telephone":"+31612345678","email":"hello@bloomandwild.com","data":[],"country":"NL","order_number":"1234567890","shipping_method_checkout_name":"Unstamped
        letter","request_label":true}}'
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, POST, PUT, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"error":{"code":400,"request":"api/v2/parcels","message":"shipping_method:
        \"This field is required.\""}}'
  recorded_at: Tue, 23 Jan 2024 09:49:05 GMT
recorded_with: VCR 6.1.0
