---
http_interactions:
- request:
    method: post
    uri: https://panel.sendcloud.sc/api/v2/parcels?errors=verbose-carrier
    body:
      encoding: UTF-8
      string: '{"parcel":{"name":"John Doe","company_name":"Bloom&Wild","address":"Insulindelaan","house_number":"115","city":"Eindhoven","postal_code":"3316
        EE","telephone":"+31612345678","email":"hello@bloomandwild.com","data":[],"country":"NL","order_number":"1234567890","request_label":true,"shipment":{"id":98}}}'
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, PUT, HEAD, OPTIONS
      X-Sendcloud-Client-Latest-Version-Windows:
      - 1.0.4
      X-Sendcloud-Client-Latest-Version-Macos:
      - 1.0.5
      X-Sendcloud-Client-Latest-Version-Linux:
      - 1.0.2
    body:
      encoding: UTF-8
      string: '{"error":{"code":400,"request":"api/v2/parcels","message":"non_field_errors:
        \"PostNL service error: ''1225029''\""}}'
  recorded_at: Wed, 17 Nov 2021 11:48:40 GMT
recorded_with: VCR 6.0.0
